/*
 * css for Jodit edited and free-form certificates
 *
 * 2020-01-01
 *
 *
 * A4 is 210 x 297
 * Less standard .5in margins = 185 x 272
 *
 * These settings produce usable results on Chrome, FireFox, Safari and Edge 
 * Improve them if you must but beware.
 */

@page {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  width: 210mm; /*297mm;*/
}

.newpage {
  page-break-after: always;
}

@media print {
  @page {
    size: A4 portrait;
    
  }
  html,
  body {
    height: 100%;
  }
}
