/*
 *
 * Custom CSS for the current document. This is loaded after basic formatting and page orientation CSS
 *
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1em;
  width: calc(210mm - 1em);
  font-size: 14pt;
}

.page {
  display: block;
  height: 280mm;
  counter-increment: page;
  page-break-after: always;
  padding: 2em;
}

/*page numbers*/
.page::after {
  display: block;
  text-align: center;
  padding: 1em;
  content: " Page - " counter(page);
  font-size: 14pt;
}
#frontpage {
  page-break-after: always;
  text-align: center;
}
#frontpage h1 {
  font-size: 24pt;
  font-weight: bold;
}
#frontpage h2 {
  margin: 5em;
}
.intro {
  margin: 2em;
}
p {
  margin: 1em;
}
.combos {
  display: block;
  padding: 3em;
}
.combo {
  display: block;
  padding: 0;
  margin: 0 0 2em 0;
}
.streambonuses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bonus {
  width: 49%;
  display: inline-block;
  margin-bottom: 3%; 
}
.Title {
  display: inline-block;
  width: 10em;
}
.BonusID,
.Points {
  font-size: larger;
  font-weight: bold;
}
.bonusimage {
  width: 100%;
}
.bonusimage img {
  width: 90%;
  height: 290px;
}
.coordtable {
  display: flex;
  flex-direction: row;
}
.streamcoordslist {
  display: block;
  width: 100%;

}
.coordtable .id {
  width: 5em;
  display: inline-block;
}
.rules {
  width: 100%;
  font-size: 12pt;
  text-align: justify;
  p.closer {
    margin: 0 1em 0 1em;
  }
  ol {
    list-style-position: inside;
    margin: 0 1em 0 1em;
  }
}
