/*
 *
 * Custom CSS for the current document. This is loaded after basic formatting and page orientation CSS
 *
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1em;
  width: calc(210mm - 1em);
  font-size: 14pt;
}

.page {
  display: block;
  height: 280mm;
  counter-increment: page;
  page-break-after: always;
  padding: 2em;
}

/*page numbers*/
.page::after {
  display: block;
  text-align: center;
  padding: 1em;
  content: " Page - " counter(page);
  font-size: 14pt;
}
#frontpage {
  page-break-after: always;
  text-align: center;
}
#frontpage h1 {
  font-size: 24pt;
  font-weight: bold;
}
#frontpage h2 {
  margin: 5em;
}
.intro {
  margin: 2em;
}
p {
  margin: 1em;
}
p.center {
  text-align: center;
}
ol {
  margin: 1em;
  list-style-position: inside;
  li {
    margin: 0 0 .5em 0;
  }
}
.subject {
  padding: 2px .6em 2px .6em;
  background-color: lightgray;
  color: black;
  font-weight: bold;
}
.combos {
  display: block;
  padding: 3em;
}
.combo {
  display: block;
  padding: 0;
  margin: 0 0 2em 0;
}
.streambonuses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bonus {
  width: 89%;
  display: inline-block;
  margin-bottom: 3%;
}
.Title1 {
  display: inline-block;
  width: 20em;
}
.BonusID {
  font-size: larger;
  font-weight: bold;
}
.bonusimage1 {
  width: 100%;
}
.bonusimage img {
  /*width: 90%;*/
  max-height: 280px;
}
.coordtable {
  display: flex;
  flex-direction: row;
}
.streamcoordslist {
  display: block;
  width: 100%;
}
.coordtable .id {
  width: 5em;
  display: inline-block;
}
.rules {
  width: 100%;
  font-size: 12pt;
  text-align: justify;
  p.closer {
    margin: 0 1em 0 1em;
  }
  ol {
    list-style-position: inside;
    margin: 0 1em 0 1em;
  }
}

.bonus1 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "bonusid  points points title title title"
    "image image image image waffle flags"
    "notes notes notes notes notes notes";
  border: 2px solid;
  padding: 5px;
  margin: 0.5em;

  .BonusID {
    grid-area: bonusid;
    margin: 0 1em 0 0;
    font-weight: bold;
  }
  .Title {
    grid-area: title;
    text-align: right;
    margin: 0 .5em 0 0;
    font-size: larger;
  }
  .flags {
    grid-area: flags;
    max-width: 70px;
    .icon {
      height: 64px;
      max-width: 64px;
    }
  }
  .icon {
    margin: .5em 0 0 0;
  }
  .Points {
    grid-area: points;
    font-size: larger;
    text-align: right;
  }
  .bonusimage {
    grid-area: image;
    margin: 0.5em 1em 1em 0;
  }
  .notes {
    grid-area: notes;
  }
  .waffle {
    grid-area: waffle;
    margin: 1em 0 0 0;
    font-style: italic;
  }
}
