/*
 *
 * Custom CSS for the current document. This is loaded after basic formatting and page orientation CSS
 *
 */

body {
        font-family: "Lucida Calligraphy", Verdana, Geneva, Tahoma, sans-serif;

        width: 297mm;
        font-size: 14pt;
}

h1 {
        text-align: center;
        margin-bottom: .0em;
        margin-top: 0;
        font-size: 72pt;
        color: red;
        font-weight: bold;
}

h2 {
        text-align: center;
        padding: 2em 0 1em 0;
        font-size: larger;

}

h3 {
        text-align: left;
        padding: 1em 0 1em 0;
        font-size: larger;

}

h4 {
        text-align: center;
        font-weight: bold;
        margin-top: 0;
}

h6 {
        text-align: left;
        margin-bottom: 0;
        margin-top: 1em;
        padding-bottom: 0;
        font-size: 12pt;
        text-decoration: underline;
}

p {
        margin-top: 6pt;
}

li {
        margin-bottom: 1em;
}

td.top,
th.top {
        border-bottom: none;
}

td.bottom {
        border-top: none;
        margin-bottom: .5em;
}

.rlindex {
        width: 6em;
        text-align: center;
}

.rlplace {
        width: 15em;
        text-align: center;
}

strong {
        /*text-transform: uppercase;*/
        font-size: larger;
}

.label {
        text-align: center;
        width: 10em;
}

.vlabel {
        vertical-align: middle;
        width: 6em;
        text-align: right;
}

.tall {
        height: 8em;
}

.box {
        border: solid;
}

.left   { float: left; }
.right  { float: right; }

.left,
.right  {
        -box-sizing: border-box; 
        width: 470pt;
        padding-right: 2em !important;
}

.signboxes {
        border-spacing: 1em;
}

.legend     { list-style-type: none; padding: 1em;  }
.bonus      { 
margin-bottom: 5pt; 
margin-top: 20pt; 
margin-left: 0;
margin-right: 0pt;
padding-right: 0;
width: 380pt;
height: 340pt;
page-break-inside: avoid;
display: inline-block;
            }

.BonusID    { 
display: inline-block; 
width: 25pt; 
font-weight: normal; 

padding: 2px; 
text-align: center;
vertical-align: middle;
margin-bottom: 3px;
}

.Title      { 
        display: inline-block; 
        padding-left: 1em;
        width: 200pt; 
        
        font-style: italic; 
        font-size: .9em; 
        vertical-align: text-bottom;
}
.short      { width: 140pt; }
.Points     { 
display: inline-block; 
width: 35pt; 
font-weight: normal; 

padding: 2px; 
text-align: right; 
vertical-align: middle; 
margin-bottom: 3px;
}

.pagebreak      { page-break-after: always; background-color: blue; }

.BonusID,
.Points     { height: 20pt; }
.tenpct     { background: lightgray; }
.example    { border: dotted; padding: 15px; margin-left: auto; margin-right: auto; }
.icon       { width: 32px; vertical-align: sub; }
.flags      {
        display: inline;
        padding-right: .5em;
}
.email      { color: blue; text-decoration: none; font-weight: bold; }

.label      { font-weight: normal; }

.coords         { 
        display: inline-block; 
        width: 20em; 
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: none;
        padding: 2px;
        margin-top: 0;
}
.waffle         { 
        display: inline-block; 
        width: 100%; 
        font-size: .8em;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: none;
        height: 2.5em;
        padding: 2px;
        margin-top: 0;
}
.notes          {
        display: inline-block;
        width: 100%;
        padding-bottom: .5em;
}
.hide {
        display: none;
        border: none;
        background-color: white;
        color: white;
}
.center {
        text-align: center;
}
.hilite {
        font-weight: bold;
}

tr.question     { display:inline-block;  padding-bottom: .5em; }
td.nowrap       { display: table-cell; width: 140pt; }

.bonusimage { display: block; }
.bonusimage img    {
        
        width: 100%; height: 280pt;
}
.flags      { display: inline-block; padding: 0; margin: 0; }

.pages       {
        padding-left: 30pt;
}
#frontpage { 
        border: double; page-break-after: always; 
        width: 96%; height: 98%; margin-left: auto; margin-right: auto;
        
}
.noframe {
        border: none !important;
}
#frontpage img {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        
}
.walkhdr { 
        margin: 2em;
        width: 90%;
}
/**
#walkhdr p {
        font-size: 16pt;
}
**/

.intro  { 

width: 240mm;
text-align: justify;
font-size: 16pt;
line-height: 1.8em;
margin-left: auto;
margin-right: auto;
        }

.coordslist {
        display: inline-block;
        padding-bottom: .2em;
        font-family: Arial, Helvetica, sans-serif;
}
.coordtable .id {
        display: inline-block;
        width: 4em;
}
.coordtable .name {
        display: inline-block;
        width: 20em;
}
.coordtable .latlong {
        display: inline-block;
        width: 20em;
}

   .page {
        display: block;
        height: 280mm;
     counter-increment: page;
     page-break-after: always;
    }

   /*page numbers*/
   .page::after {
        display: block;
        text-align: right;
        padding-right: 3em;
        content: " Page - " counter(page);
        font-size: 14pt;
    }


    .rules { 
        font-size: .9em;
        text-align: justify;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        padding: 0 5em 0 5em;
    }
    .rules p { 
        font-size: unset; 
    }
    .rules ol { 
        font-weight: normal; 
        list-style-type: lower-alpha;
    }
    .rules ol li {
        margin-bottom: .2em;
    }
    .rules h3 {
        text-align: center;
        margin: .5em 0 0 0;
        padding: 1em 0 .5em 0;
    }
    .rules table   {
        margin-top: 2em;
        border: 1px solid;
        border-collapse: collapse;
    }
    .rules caption {
        font-weight: bold;
    }
    .rules td  {
        border: 1px solid;
        padding: 5px;
        text-align: left;
    }
    .rules td:first-child {
        text-align: center;
    }
    .rules .ff {
        font-style: italic;
        font-weight: bold;
    }
    .rules .subject {
        font-style: italic;
        font-weight: bold;
        padding: 2px 10px 2px 10px;
        background-color: lightgray;
    }
