<br><br>
<div class="bonusspec">
<div class="bonus {{.StreamID}}">
    <span class="bonusimage">
        <img src="{{.ImageFolder}}/bonuses/{{.Image}}" alt="{{.BonusID}}">
    </span>
    <span class="bonusright">
        <span class="BonusID"><strong>{{.BonusID}}</strong></span> 
        <span class="Points"><strong>{{if .AskPoints}}Various{{else}}{{.Points}}{{end}}</strong></span>
        <span class="Title">{{.BriefDesc}}</span>
        <!--<span class="coords"><span class="label"></span>{{.Coords}}</span>-->
        <span class="flags">&nbsp;
        {{if .AlertA}}<img class="icon" src="{{.ImageFolder}}alertalert.png" alt="A">{{end}}
        {{if .AlertF}}<img class="icon" src="{{.ImageFolder}}alertface.png" alt="F">{{end}}
        {{if .AlertB}}<img class="icon" src="{{.ImageFolder}}alertbike.png" alt="B">{{end}}
        {{if .AlertT}}<img class="icon" src="{{.ImageFolder}}alertreceipt.png" alt="T">{{end}}
        {{if .AlertR}}<img class="icon" src="{{.ImageFolder}}alertrestricted.png" alt="R">{{end}}
        {{if .AlertD}}<img class="icon" src="{{.ImageFolder}}alertdaylight.png" alt="D">{{end}}
        {{if .AlertN}}<img class="icon" src="{{.ImageFolder}}alertnight.png" alt="N">{{end}}
        </span>
        <span class="Notes">
            {{.Notes}}
        </span>
    </span>
    <div class="waffle {{if .HasWaffle}} {{else}} hide{{end}}"><span class="label"></span>{{.Waffle}}</div>

</div>
</div>
